div {
	border-style: solid;
	border-width: 5px;
	border-radius: 25px;
	padding: 30px;
	box-shadow: 6px 6px 3px black;
	border-color: gray;
	background-color: rgba(199, 199, 199, 0.4);
}

body{
	background: url("../images/background3.jpg")no-repeat center fixed;
}

h1{
	text-align: center;
}
.col-md-4{
	border-radius: 0px;
}

.col-md-12{
	margin-top: 60px;
}

.space{
	margin-top: 10px;
	text-align: center;
}

.resize{
	height: 210px;
	width: 280px;
}